version: '3.8'

services:
  server:
    build: ./server
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - MONGO_URI=mongodb://mongo:27017/sociosphere
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - JWT_SECRET=supersecretkey
      - EMAILJS_SERVICE_ID=service_mjij4x6
      - EMAILJS_TEMPLATE_ID=template_bh21ind
      - EMAILJS_PUBLIC_KEY=1_WK8YGTGqZpLwlkU
      - EMAILJS_PRIVATE_KEY=93PNDonfd9r187T9swHlW
    volumes:
      - ./server:/app
      - /app/node_modules
    depends_on:
      - mongo
      - redis
    networks:
      - app-network

  client:
    build: ./client
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_API_URL=http://localhost:5000
    volumes:
      - ./client:/app
      - /app/node_modules
    depends_on:
      - server
    networks:
      - app-network

  worker:
    build: ./worker
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
      - MONGO_URI=mongodb://mongo:27017/sociosphere
    volumes:
      - ./worker:/app
    depends_on:
      - redis
      - mongo
    networks:
      - app-network

  mongo:
    image: mongo:latest
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

  redis:
    image: redis:alpine
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongo-data:
